@mixin style_dropdown {
   /* Style de base pour la liste déroulante */
   display: inline-block;
   width: 21%;
}

@mixin btn-dropdown {
   /* Style du bouton de la liste déroulante */
   padding: 10px;
   color: #313144;
   border: none;
   border: solid 1px;
   border-radius: 8px;
   cursor: pointer;
   width: 100%;

   font-family: "Poppins", sans-serif;
   font-weight: 500;
   text-transform: uppercase;
}

$color_bg_hover: red;
$color_border_filtre: #215aff;

.dropdown {
   position: relative;

   padding-top: 80px;
   display: flex;
   &_btn {
      // @include btn_dropdown;
      padding: 10px;
      color: #313144;
      border: none;
      border: solid 1px;
      border-radius: 8px;
      cursor: pointer;
      width: 100%;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      text-transform: uppercase;
      margin: 0;
      position: relative;

      &_list {
         cursor: pointer;
         padding: 11px 24px;
         &:hover {
            background-color: $color_bg_hover;
            transition: background-color 0.3s;
         }
      }
   }
   &_categories {
      @include style_dropdown;
   }
   &_format {
      margin-left: 35px;
      @include style_dropdown;

      position: relative;
   }
   &_sortby {
      position: absolute;
      right: 0;
      @include style_dropdown;
   }
   .cta_form {
      cursor: pointer;
      border: solid 1px;
      border-radius: 8px;
      background: #d8d8d8;
      box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
      width: 6%;
      height: 40px;
      font-size: 16px;
      margin-left: 35px;

      position: absolute;
      left: 45%;
   }
}
