@mixin style_dropdown {
   /* Style de base pour la liste déroulante */
   display: inline-block;
   width: 21%;
}

@mixin btn-dropdown {
   /* Style du bouton de la liste déroulante */
   padding: 10px;
   color: #313144;
   border: none;
   border: solid 1px;
   border-radius: 8px;
   cursor: pointer;
   width: 100%;

   font-family: "Poppins", sans-serif;
   font-weight: 500;
   text-transform: uppercase;
}

$color_bg_hover: #E00000;
$color_border_filtre: #215aff;

.dropdown {
   position: relative;

   padding-top: 80px;
   display: flex;
   justify-content: space-between;
   &_btn {
      padding: 10px;
      color: #313144;
      border: solid 1px;
      border-radius: 8px;
      cursor: pointer;
      width: 100%;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 14px;
      text-transform: uppercase;
      margin: 0;
      position: relative;
      &_list {
         display: none;

         cursor: pointer;
         padding: 11px 24px;
         &:hover {
            background-color: $color_bg_hover;
            color: white;
            font-size: 16px;
            transition: 1s;
         }
      }
      #hide_label {
         color: white;
      }
      &_label {
         display: flex;
         justify-content: space-between;
      }
   }
   &_categories {
      @include style_dropdown;
   }
   &_format {
      margin-right: 365px;
      @include style_dropdown;
      position: relative;
   }
   &_sortby {
      position: relative;
      right: 0;
      @include style_dropdown;
   }
}
