.lightbox {
   position: fixed;
   z-index: 9999;
   background-color: rgba(0, 0, 0, 0.8);
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 100vw;
   height: 100vh;
   display: none;
   &_box {
      margin: 115px auto;

      width: 30%;
      height: 50%;
      justify-content: center;
      align-items: center;
   }
   &_container {
      position: relative;
      img {
        left: 50%;
        top: 50%;
        transform: translate(-50%, 0%) !important;
      }
      .arrow {
         &_left {
            position: absolute;
            top: 50%;
            left: -30%;
            transform: scale(1.5) translateY(-50%);
            cursor: pointer;

            font-family: "Space Mono", monospace;
            font-size: 14px;
         }
         &_right {
            position: absolute;
            top: 50%;
            right: -27%;
            transform: scale(1.5) translateY(-50%);
            cursor: pointer;

            font-family: "Space Mono", monospace;
            font-size: 14px;
         }
      }
   }
   &_info {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      text-transform: uppercase;
   }
}
