.lightbox {
   position: fixed;
   z-index: 9999;
   background-color: rgba(0, 0, 0, 0.8);
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 100vw;
   // height: 100vh;
   display: none;
   &_box {
      margin: 115px auto;
      // width: 50%;
      // height: 50%;
      justify-content: center;
      align-items: center;
   }
   &_close {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      position: absolute;
      right: 3%;
      width: 2%;
      height: 4%;
      .croix {
         width: 2%;
         height: 2%;
      }
      .line {
         display: none;
         width: 50px;
         border: 1px solid white;
         &:first-child {
            display: block;
            position: absolute;
            transform: rotate(45deg);
         }
         &:last-child {
            display: block;
            position: absolute;
            transform: rotate(-45deg);
         }
      }
   }
   &_container {
      position: relative;
      img {
         position: relative;
         left: 50%;
         top: 50%;
         transform: translate(-50%, 0%) !important;
         height: 90vh;
      }
      .arrow {
         &_left {
            position: absolute;
            top: 50%;
            left: -170px;
            transform: scale(1.5) translateY(-50%);
            cursor: pointer;

            font-family: "Space Mono", monospace;
            font-size: 14px;
            & span {
               font-weight: 400;
               &:hover {
                  font-weight: 700;
               }
            }
         }
         &_right {
            position: absolute;
            top: 50%;
            right: -150px;
            transform: scale(1.5) translateY(-50%);
            cursor: pointer;

            font-family: "Space Mono", monospace;
            font-size: 14px;
            & span {
               font-weight: 400;
               &:hover {
                  font-weight: 700;
               }
            }
         }
      }
   }
   &_info {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      text-transform: uppercase;
   }
}
