#page {
   padding-top: 80px;
}
.aboutus {
   .wp-block-heading {
      font-family: "Space Mono", monospace;
      font-weight: 700;
      font-size: 28px;
   }
   p {
      font-family: "Poppins", sans-serif;
      font-size: 15px;
   }
}
