.infos {
   display: flex;
   gap: 20px;
   .details-image {
      display: flex;
      width: 50%;
      border-bottom: solid 1px black;
      .content-photo {
         display: flex;
         flex-direction: column;
         justify-content: flex-end;

         gap: 25px;
         width: 60%;
         margin-bottom: 35px;

         text-transform: uppercase;
         h2 {
            font-family: "Space Mono", monospace;
            font-weight: 400;
            font-style: italic;
            font-size: 66px;
            margin: 0;
         }
         span {
            font-family: "Space Mono", monospace;
            font-weight: 400;
            font-size: 16px;
         }
      }
   }
   .current-image {
      width: 50%;
   }
}

.order-photo {
   border-bottom: solid 1px black;
   display: flex;
   justify-content: space-between;
   height: 118px;
   .order {
      width: 50%;
      display: flex;
      align-items: center;
      & span {
         width: 50%;
      }
   }
   .cta_order {
      border: solid 0px;
      border-radius: 2px;
      background: #d8d8d8;
      box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
      width: 50%;
      height: 50px;
      font-size: 16px;
      margin: 35px auto;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .mini-carrousel {
      width: 10%;
      img {
         width: 100%;
      }
   }
}

.like-more {
   padding-top: 70px;
   .cta_all-pic {
      border: solid 0px;
      border-radius: 2px;
      background: #d8d8d8;
      box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
      width: 24%;
      height: 50px;
      font-size: 16px;
      margin: 40px auto 60px auto;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   & span {
      font-size: 18px;
   }
}
