@charset "UTF-8";
body {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
body main {
  position: relative;
  width: 85%;
  margin: 0 auto;
}
body main #load-more {
  text-decoration: none;
  color: black;
}

.blur_main {
  filter: blur(15px);
}

@font-face {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/assets/fonts/poppins_300.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/assets/fonts/poppins_500.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Space Mono", monospace;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/space_mono-400.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Space Mono", monospace;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/space_mono_700_it.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
header {
  position: fixed;
  width: 1440px;
  z-index: 1;
  background: white;
}
header .header {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 150px;
  align-items: center;
}
header .header .nav-link {
  display: flex;
  gap: 45px;
}
header .header .nav-link .menu {
  display: flex;
  gap: 45px;
  list-style: none;
}
header .header .nav-link .menu a {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  color: black;
}
header .header .nav-link .menu a:hover {
  font-weight: 700;
}
header .header .menu_mobile {
  display: none;
}
header main {
  padding-top: 80px;
}

.link_nav_footer {
  display: flex;
  justify-content: center;
  border-top: solid 1px black;
  padding: 10px 0;
}
.link_nav_footer #menu-footer_menu {
  display: flex;
  gap: 100px;
}
.link_nav_footer li {
  font-family: "Space Mono", monospace;
  list-style: none;
}
.link_nav_footer li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
.link_nav_footer li a:hover {
  font-weight: 700;
}
.link_nav_footer .AllRightReserved {
  display: flex;
  align-items: center;
  margin-left: 100px;
  font-family: "Space Mono", monospace;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
}
.link_nav_footer .AllRightReserved:hover {
  font-weight: 700;
}

.hero_home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}
.hero_home h1 {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  opacity: 0.7;
  /* Ajouter des contours blancs */
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 3px white;
  font-size: 110px;
  text-align: center;
  position: absolute;
  font-style: italic;
}
.hero_home img {
  -o-object-fit: cover;
     object-fit: cover;
}

.images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px 0;
  gap: 20px;
}
.images-container .image-box {
  position: relative;
  width: calc(50% - 10px);
  max-height: 500px;
  overflow: hidden;
}
.images-container .image-box:hover .overlay {
  display: block;
}
.images-container .image-box img {
  width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.images-container .image-box .hidden {
  display: none;
}
.images-container .image-box .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.images-container .image-box .overlay .icon_eye {
  position: absolute;
  left: 50%;
  bottom: 250px;
  transform: scale(2.5);
}
.images-container .image-box .overlay .icon_full {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 11px;
  right: 18px;
  border: solid 0px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.images-container .image-box .overlay .content_title {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  position: absolute;
  bottom: 2%;
  left: 4%;
}
.images-container .image-box .overlay .content_categorie {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  position: absolute;
  bottom: 2%;
  right: 5%;
}

.cta,
#load-more {
  cursor: pointer;
  border: solid 0px;
  border-radius: 2px;
  background: #d8d8d8;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
  width: 24%;
  height: 50px;
  font-size: 16px;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cta:hover,
#load-more:hover {
  background-color: black;
  color: white;
  transition: 1s;
}

#page {
  padding-top: 80px;
}

.aboutus .wp-block-heading {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 28px;
}
.aboutus p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

.dropdown {
  position: relative;
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
}
.dropdown_btn {
  padding: 10px;
  color: #313144;
  border: solid 1px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
  position: relative;
}
.dropdown_btn_list {
  display: none;
  cursor: pointer;
  padding: 11px 24px;
}
.dropdown_btn_list:hover {
  background-color: #E00000;
  color: white;
  font-size: 16px;
  transition: 1s;
}
.dropdown_btn #hide_label {
  color: white;
}
.dropdown_btn_label {
  display: flex;
  justify-content: space-between;
}
.dropdown_categories {
  /* Style de base pour la liste déroulante */
  display: inline-block;
  width: 21%;
}
.dropdown_format {
  margin-right: 365px;
  /* Style de base pour la liste déroulante */
  display: inline-block;
  width: 21%;
  position: relative;
}
.dropdown_sortby {
  position: relative;
  right: 0;
  /* Style de base pour la liste déroulante */
  display: inline-block;
  width: 21%;
}

.lightbox {
  position: fixed;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  display: none;
}
.lightbox_box {
  margin: 115px auto;
  justify-content: center;
  align-items: center;
}
.lightbox_close {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  position: absolute;
  right: 3%;
  width: 2%;
  height: 4%;
}
.lightbox_close .croix {
  width: 2%;
  height: 2%;
}
.lightbox_close .line {
  display: none;
  width: 50px;
  border: 1px solid white;
}
.lightbox_close .line:first-child {
  display: block;
  position: absolute;
  transform: rotate(45deg);
}
.lightbox_close .line:last-child {
  display: block;
  position: absolute;
  transform: rotate(-45deg);
}
.lightbox_container {
  position: relative;
}
.lightbox_container img {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0%) !important;
  height: 90vh;
}
.lightbox_container .arrow_left {
  position: absolute;
  top: 50%;
  left: -170px;
  transform: scale(1.5) translateY(-50%);
  cursor: pointer;
  font-family: "Space Mono", monospace;
  font-size: 14px;
}
.lightbox_container .arrow_left span {
  font-weight: 400;
}
.lightbox_container .arrow_left span:hover {
  font-weight: 700;
}
.lightbox_container .arrow_right {
  position: absolute;
  top: 50%;
  right: -150px;
  transform: scale(1.5) translateY(-50%);
  cursor: pointer;
  font-family: "Space Mono", monospace;
  font-size: 14px;
}
.lightbox_container .arrow_right span {
  font-weight: 400;
}
.lightbox_container .arrow_right span:hover {
  font-weight: 700;
}
.lightbox_info {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

.single-page {
  padding-top: 80px;
}
.single-page .infos {
  display: flex;
  gap: 20px;
}
.single-page .infos .details-image {
  display: flex;
  width: 50%;
  border-bottom: solid 1px black;
}
.single-page .infos .details-image .content-photo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 25px;
  width: 70%;
  margin-bottom: 35px;
  text-transform: uppercase;
}
.single-page .infos .details-image .content-photo h2 {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
  font-size: 66px;
  margin: 0;
}
.single-page .infos .details-image .content-photo span {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: 16px;
}
.single-page .infos .current-image {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}
.single-page .order-photo {
  border-bottom: solid 1px black;
  display: flex;
  justify-content: space-between;
  max-height: 117.1px;
}
.single-page .order-photo .order {
  width: 50%;
  display: flex;
  align-items: center;
}
.single-page .order-photo .order span {
  width: 50%;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.single-page .order-photo .cta_order {
  cursor: pointer;
  border: solid 0px;
  border-radius: 2px;
  background: #d8d8d8;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
  width: 50%;
  height: 50px;
  font-size: 16px;
  margin: 35px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-page .order-photo .cta_order:hover {
  background-color: black;
  color: white;
  transition: 1s;
}
.single-page .order-photo .carrousel_content {
  gap: 15px;
  display: flex;
  flex-direction: column;
}
.single-page .order-photo .carrousel_content_arrow {
  display: flex;
  justify-content: space-around;
}
.single-page .order-photo .carrousel_content_arrow_left {
  transform: scale(1.5);
}
.single-page .order-photo .carrousel_content_arrow_left .prev_post {
  display: none;
}
.single-page .order-photo .carrousel_content_arrow_left:hover .prev_post {
  display: flex;
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(-40%, 10%);
}
.single-page .order-photo .carrousel_content_arrow_right {
  transform: scale(1.5);
}
.single-page .order-photo .carrousel_content_arrow_right .next_post {
  display: none;
}
.single-page .order-photo .carrousel_content_arrow_right:hover .next_post {
  display: flex;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(40%, 10%);
}
.single-page .LikeMore_text {
  padding-top: 50px;
  font-family: "Space Mono", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.single-page .LikeMore .images-container {
  margin: 50px 0 110px 0;
}

.popup {
  display: none;
  width: 600px;
  margin: 0 auto;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 99;
  background-color: white;
}
.popup_container {
  overflow: hidden;
  border: solid 5px black;
}
.popup_container .contact-hero {
  width: 125%;
  height: 97px;
  position: relative;
  right: 25%;
  margin-top: 20px;
}

.wpcf7 {
  color: #313144;
}
.wpcf7 ul {
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
.wpcf7-textarea {
  width: 100%;
  height: 210px;
  border-radius: 8px;
  border: 1px solid #b8bbc2;
  background: #fff;
}
.wpcf7-text {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #b8bbc2;
  background: #fff;
}
.wpcf7 .content-form {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 60%;
  margin: 0 auto;
  padding-top: 40px;
}
.wpcf7 .content-form div {
  padding-bottom: 15px;
}
.wpcf7 .cta-contact {
  cursor: pointer;
  border: solid 0px;
  border-radius: 2px;
  background: #d8d8d8;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
  width: 100%;
  height: 50px;
  margin: 20px auto 40px auto;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: 16px;
}
.wpcf7 .cta-contact:hover {
  background-color: #fe5858;
  transition: 1s;
  color: white;
}

/***** PARTIE FRONT-PAGE *****/
@media screen and (min-width: 320px) and (max-width: 767.9px) {
  body {
    width: 100%;
    /***** PARTIE SINGLE-PAGE *****/
    /***** FORMULAIRE DE CONTACT *****/
  }
  body header {
    max-width: 1440px;
    width: 100vw;
    position: fixed;
    z-index: 1;
    background: white;
    width: 100vw;
  }
  body header .header {
    position: relative;
    left: 0%;
    height: 80px;
    width: 100vw;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  body header .header_logo {
    transform: none;
  }
  body header .header .nav-link {
    display: none;
  }
  body header .header .menu_mobile {
    width: 12%;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: 60%;
    background: white;
  }
  body header .header .menu_mobile .line {
    border: 1px solid black;
    width: 100%;
  }
  body header .header .croix .line {
    display: none;
  }
  body header .header .croix span:first-child {
    display: block;
    transform: rotate(45deg) translate(-64%, 0%);
    position: relative;
    top: 50%;
    left: 60%;
  }
  body header .header .croix span:last-child {
    display: block;
    transform: rotate(-45deg) translate(-50%, 0%);
    position: relative;
    bottom: 50%;
    left: 50%;
  }
  @keyframes slideLeftNavLink {
    from {
      left: 100%;
      transform: translate(0%, -45.3%);
    }
    to {
      left: 50%;
      transform: translate(-50%, -45.3%);
    }
  }
  @keyframes slideLeftHeader {
    from {
      left: 100%;
    }
    to {
      left: 0%;
    }
  }
  body header .nav-link-mobile {
    display: none;
    background-color: #e00000;
    width: 101%;
    height: calc(100% - 55px);
    position: fixed;
    z-index: 30;
    top: 50%;
    left: 100%;
    transform: translate(0%, -45.3%);
  }
  body header .nav-link-mobile .link_header {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body header .nav-link-mobile .link_header .menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding: 0;
  }
  body header .nav-link-mobile .link_header .menu a {
    font-size: 38px;
    text-decoration: none;
    color: white;
    font-family: "Space Mono", sans-serif;
  }
  body header .popup {
    transform: translate(-50%, -50%) scale(0.9);
    position: fixed;
    top: 50%;
    left: 50%;
  }
  body .hero_home {
    padding-top: 80px;
  }
  body .hero_home .text-hero {
    font-size: 48px;
  }
  body .hero_home img {
    height: 50vh;
    width: 100vw;
  }
  body .hero_home h1 {
    -webkit-text-stroke: 1.5px white;
  }
  body .dropdown {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin: 50px auto;
    padding: 0;
  }
  body .dropdown_btn {
    height: 100%;
    font-size: 20px;
    border-radius: 8px;
  }
  body .dropdown_btn_list {
    font-size: 12px;
  }
  body .dropdown_btn #hide_label {
    color: black;
  }
  body .dropdown_categories {
    width: 70%;
    margin: 0 auto;
  }
  body .dropdown_format {
    margin-left: 0;
    width: 70%;
    margin: 0 auto;
  }
  body .dropdown_sortby {
    position: relative;
    width: 70%;
    margin: 0 auto;
  }
  body #load-more,
  body #load-more-single {
    width: 50%;
    height: 50px;
  }
  body .images-container {
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    margin: 40px auto;
    gap: 20px;
  }
  body .images-container .image-box {
    width: 85vw;
    height: 32vh;
  }
  body .images-container .image-box:hover .overlay {
    display: block;
  }
  body .images-container .image-box img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body .images-container .image-box .overlay {
    width: 100%;
    height: 100%;
  }
  body .images-container .image-box .overlay .icon_eye {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 18px;
    top: 50%;
    left: 50%;
    transform: scale(2) translate(-27%, -20%);
  }
  body .images-container .image-box .overlay .icon_eye_link {
    display: block;
    width: 10%;
    left: 50%;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 36px;
  }
  body .images-container .image-box .overlay .icon_full {
    top: 3%;
    right: 3%;
  }
  body .images-container .image-box .overlay .icon_full .lightbox {
    height: 101vh;
    width: 101vw;
    background-color: rgba(0, 0, 0, 0.95);
  }
  body .images-container .image-box .overlay .icon_full .lightbox_box {
    margin: auto;
  }
  body .images-container .image-box .overlay .icon_full .lightbox_container {
    width: 80vw;
  }
  body .images-container .image-box .overlay .icon_full .lightbox_container .arrow_left {
    left: 0;
    top: 100%;
    margin-top: 110px;
  }
  body .images-container .image-box .overlay .icon_full .lightbox_container .arrow_right {
    right: 0;
    top: 100%;
    margin-top: 110px;
  }
  body .images-container .image-box .overlay .icon_full .lightbox_image {
    width: 90vw;
  }
  body .images-container .image-box .overlay .icon_full .lightbox_close {
    top: 5%;
    right: 10%;
    width: 11%;
    height: 5%;
  }
  body .images-container .image-box .overlay .content_title {
    font-size: 15px;
  }
  body .images-container .image-box .overlay .content_categorie {
    font-size: 15px;
  }
  body .single-page {
    width: 100%;
    padding-top: 80px;
  }
  body .single-page .infos {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: center;
    padding-top: 20px;
  }
  body .single-page .infos .current-image {
    width: 100%;
  }
  body .single-page .infos .current-image img {
    margin: 0 auto;
    width: 90%;
    height: 100%;
  }
  body .single-page .infos .details-image {
    width: 100%;
  }
  body .single-page .infos .details-image .content-photo {
    width: 90%;
    margin: 35px auto;
  }
  body .single-page .infos .details-image .content-photo h2 {
    font-size: 48px;
  }
  body .single-page .infos .details-image .content-photo span {
    font-size: 20px;
  }
  body .single-page .order-photo {
    min-height: 200px;
    /* Masquage du carrousel en mobile */
  }
  body .single-page .order-photo .order {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 40px;
  }
  body .single-page .order-photo .order span {
    width: 100%;
    font-size: 24px;
    font-family: "Popppins", sans-serif;
    font-weight: 300;
    text-align: center;
  }
  body .single-page .order-photo .order .cta_order {
    padding: 30px 125px;
    font-size: 22px;
    border-radius: 8px;
    font-family: "Space Mono", sans-serif;
    margin: 0;
  }
  body .single-page .order-photo .carrousel {
    display: none;
  }
  body .single-page .LikeMore_text {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    margin: 0;
  }
  body .single-page .LikeMore .images-container {
    width: 85%;
    margin: 30px auto;
  }
  body .popup {
    width: 90%;
  }
  body .popup .contact-hero {
    margin-top: 10px;
  }
  body .popup .wpcf7 .content-form {
    width: 80%;
  }
  body .link_nav_footer {
    flex-direction: column;
  }
  body .link_nav_footer #menu-footer_menu {
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  body .link_nav_footer #menu-footer_menu a {
    font-size: 20px;
  }
  body .link_nav_footer .AllRightReserved {
    display: flex;
    margin-left: 0;
    font-size: 20px;
    justify-content: center;
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023.9px) {
  header {
    max-width: 1440px;
    width: 100vw;
    position: fixed;
    z-index: 1;
    background: white;
  }
  header .header {
    height: 80px;
    width: 100vw;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  header .popup {
    transform: translate(-50%, -50%) scale(0.7);
  }
  .hero_home {
    padding-top: 80px;
  }
  .hero_home .text-hero {
    font-size: 80px;
  }
  .hero_home img {
    height: 75vh;
    width: 100vw;
  }
  .dropdown {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    margin: 50px auto;
    padding: 0;
  }
  .dropdown_btn {
    height: 100%;
    font-size: 20px;
    border-radius: 8px;
  }
  .dropdown_btn_list {
    font-size: 12px;
  }
  .dropdown_btn_text {
    font-size: 16px;
  }
  .dropdown_categories {
    width: 25%;
  }
  .dropdown_format {
    width: 25%;
    margin: 0;
  }
  .dropdown_sortby {
    width: 25%;
  }
  .images-container .image-box {
    max-height: 320px;
  }
  .images-container .image-box img {
    height: 100%;
    min-height: unset;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .images-container .image-box .overlay .icon_eye {
    position: absolute;
    left: 47%;
    top: 47%;
    transform: scale(2);
  }
  .images-container .image-box .overlay .icon_full .lightbox {
    height: 101vh;
    width: 101vw;
    background-color: rgba(0, 0, 0, 0.95);
  }
  .images-container .image-box .overlay .icon_full .lightbox_box {
    margin: auto;
  }
  .images-container .image-box .overlay .icon_full .lightbox_container {
    width: 70vw;
  }
  .images-container .image-box .overlay .icon_full .lightbox_container .arrow_left {
    left: 0;
    top: 100%;
    padding-top: 170px;
  }
  .images-container .image-box .overlay .icon_full .lightbox_container .arrow_right {
    right: 0;
    top: 100%;
    padding-top: 170px;
  }
  .images-container .image-box .overlay .icon_full .lightbox_image {
    width: 100%;
    height: 80vh;
    top: 0;
  }
  .images-container .image-box .overlay .icon_full .lightbox_close {
    top: 3%;
    right: 0%;
    width: 11%;
    height: 5%;
  }
  .single-page {
    padding-top: 80px;
  }
  .single-page .infos {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: center;
    padding-top: 20px;
  }
  .single-page .infos .current-image {
    width: 100%;
  }
  .single-page .infos .current-image img {
    width: 100%;
  }
  .single-page .infos .details-image {
    width: 100%;
  }
  .single-page .infos .details-image .content-photo {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 35px;
    text-transform: uppercase;
    margin: 35px 0;
  }
  .single-page .infos .details-image .content-photo span {
    font-size: 20px;
  }
  .single-page .order-photo {
    max-height: unset;
    /* Masquage du carrousel en mobile */
  }
  .single-page .order-photo .carrousel {
    padding-top: 10px;
  }
  .single-page .LikeMore_text {
    padding-top: 35px;
  }
  .single-page .LikeMore .images-container {
    margin: 40px 0 70px 0;
  }
  .single-page .LikeMore .images-container .image-box {
    max-height: 320px;
  }
  .single-page .LikeMore .images-container .image-box img {
    height: 100%;
    min-height: unset;
  }
  .single-page .LikeMore .images-container .image-box .overlay .icon_eye {
    position: absolute;
    left: 48%;
    top: 47%;
    transform: scale(2);
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439.9px) {
  header {
    max-width: 1440px;
    width: 100vw;
    position: fixed;
    z-index: 1;
    background: white;
  }
  header .header {
    height: 80px;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  header .popup {
    transform: translate(-50%, -50%) scale(1);
  }
  .hero_home {
    padding-top: 80px;
  }
  .hero_home .text-hero {
    font-size: 100px;
  }
  .hero_home img {
    height: 75vh;
    width: 100vw;
  }
  .dropdown {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    margin: 50px auto;
    padding: 0;
  }
  .dropdown_btn {
    height: 100%;
    font-size: 20px;
    border-radius: 8px;
  }
  .dropdown_btn_list {
    font-size: 12px;
  }
  .dropdown_btn_text {
    font-size: 16px;
  }
  .dropdown_categories {
    width: 25%;
  }
  .dropdown_format {
    width: 25%;
    margin-right: 150px;
  }
  .dropdown_sortby {
    width: 25%;
  }
  .images-container .image-box {
    max-height: 500px;
  }
  .images-container .image-box img {
    height: 100%;
    min-height: unset;
  }
  .images-container .image-box .overlay .icon_eye {
    position: absolute;
    left: 47%;
    top: 47%;
    transform: scale(2);
  }
  .images-container .image-box .overlay .icon_full .lightbox {
    height: 101vh;
    width: 101vw;
    background-color: rgba(0, 0, 0, 0.95);
  }
  .images-container .image-box .overlay .icon_full .lightbox_box {
    margin: auto;
  }
  .images-container .image-box .overlay .icon_full .lightbox_container {
    width: 70vw;
    height: 85vh;
  }
  .images-container .image-box .overlay .icon_full .lightbox_container .arrow_left {
    left: 0;
    top: 100%;
    padding-top: 170px;
  }
  .images-container .image-box .overlay .icon_full .lightbox_container .arrow_right {
    right: 0;
    top: 100%;
    padding-top: 170px;
  }
  .images-container .image-box .overlay .icon_full .lightbox_image {
    width: 100%;
    top: 0;
  }
  .images-container .image-box .overlay .icon_full .lightbox_close {
    top: 3%;
    right: 0%;
    width: 11%;
    height: 5%;
  }
  .single-page {
    padding-top: 80px;
  }
  .single-page .infos {
    align-content: center;
    padding-top: 0;
    flex-direction: row;
  }
  .single-page .infos .current-image {
    width: 50%;
  }
  .single-page .infos .current-image img {
    width: 100%;
    height: 100%;
  }
  .single-page .infos .details-image {
    width: 50%;
  }
  .single-page .infos .details-image .content-photo {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 35px;
    text-transform: uppercase;
    margin: 35px 0;
  }
  .single-page .infos .details-image .content-photo h2 {
    font-size: 60px;
  }
  .single-page .order-photo {
    max-height: unset;
    /* Masquage du carrousel en mobile */
  }
  .single-page .order-photo .carrousel {
    padding-top: 10px;
  }
}/*# sourceMappingURL=style.css.map */